<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSCameraUsageDescription</key>
    <string>Used to scan business cards</string>
    <key>NSSpeechRecognitionUsageDescription</key>
    <string>Used to transcribe your spoken notes</string>
    <key>NSMicrophoneUsageDescription</key>
    <string>Used to record voice notes</string>
    <key>UIApplicationSceneManifest</key>
    <dict>
        <key>UIApplicationSupportsMultipleScenes</key>
        <false/>
    </dict>
    <key>UILaunchScreen</key>
    <dict/>
</dict>
</plist>
